<!DOCTYPE html>
<html>

<head>
    <title></title>
    
    <link rel="stylesheet" type="text/css" href="{{style}}" >

</head>

    <body>

        <video id="videoplayer" autoplay="">
            <source src="{{video_path}}"  type="video/mp4">
        </video>

        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <div id="support_text">
            <h1 id="title">{{title}}</h1>
            <p>{{support_text}}</p>
        </div>
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">
        <img class="mylko_r" src="{{url_for('static', filename='preview/mylko.gif')}}">

    </body>
</html>

