<!DOCTYPE html>
<html>

<head>
    <title></title>

    <link rel="stylesheet" type="text/css" href="{{style}}">

</head>

    <body>

        <video id="videoplayer" nautoplay="">
            <source src="{{video_path}}"  type="video/mp4">
        </video>


        <div id="support_content">
            <div id="left_container">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
            </div>

                <h1 id="support_title">{{title}}</h1>
                <p id="support_text"> 



                {{support_text}}
                    
                

                </p>
            <div id="right_container">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
                <img class="mylko" src="{{url_for('static', filename='preview/mylko.gif')}}">
            </div>
        </div>


    </body>
</html>

