<!DOCTYPE html>
<html>

<head>
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/video.css') }}">

</head>

    <body>

        <video id="videoplayer" autoplay="">
            <source src="{{video_path}}"  type="video/mp4">
        </video>

        <div id="support text">
            <h1 >{{title}}</h1>
            <p>{{support_text}}</p>
        </div>

    </body>
</html>

