body {
        background-color: rgb(244, 244, 244);
        margin: 0px;
}

#videoplayer {
        border: 2px solid black;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 99%;
        height: auto;
    }

#support_text {
        text-align: justify;
        font-family: 'Raleway', sans-serif;
        src: url("{{url_for('static', filename='fonts/Raleway-Thin.ttf')}}") format('truetype');
}

#title {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        src: url("{{url_for('static', filename='fonts/Raleway-Thin.ttf')}}") format('truetype');
}

.mylko_r {
    position: relative;
    margin: 10px;
    width: 10%;
}
