::-webkit-scrollbar {
       display: none;
}
    
@font-face {
   font-family: 'Raleway';
   src: url("{{url_for('static', filename='fonts/Raleway-Thin.ttf')}}") format('truetype');
}


body {
        background-color: black;
        margin: 0px;
}

#arius_videoplayer {
        border: 2px solid black;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 5%;
        width: 99%;
        height: auto;
    }

#support_content {
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid black;
    overflow: visible;
}

/*#support_title {
        margin-top: 0;
        text-align: center;
        font-family: 'Raleway', sans-serif;
}

#support_text {
        text-align: justify;
        font-family: 'Raleway', sans-serif;
        width: 58%;
        margin: auto;
}
*/

#left_container {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
}

#right_container {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
}

.video_banners {
    width: 100%;
    margin: 0;
}
