body {
        background-color: rgb(244, 244, 244);
        margin: 0px;
}

#videoplayer {
        border: 2px solid black;
        margin: 5% 1% 0% 0%;
        padding: 0% 1% 0% 0%;
        width: 100%;
        height: auto;
    }

#support_text {
        border: 1px solid black;
        border-radius: 15%;
        margin: 1% 20% 5% 20%;
        padding: 1% 5% 5% 5%;
        text-align: justify;
        font-family: 'Raleway', sans-serif;
        src: url("{{url_for('static', filename='fonts/Raleway-Thin.ttf')}}") format('truetype');
}

#title {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        src: url("{{url_for('static', filename='fonts/Raleway-Thin.ttf')}}") format('truetype');
}

.mylko_r {
    position: relative;
    margin: 10px;
    width: 15%;
}
